<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore>
    <fieldTypes role:require="Standalone or ContentManagement or ContentDelivery">
      <fieldType  patch:before="fieldType[1]" name="Color" type="Sitecore.Data.Fields.TextField, Sitecore.Kernel" resizable="true" />
    </fieldTypes>
  </sitecore>
</configuration>